In [7]:
# 파이썬은 행단위 언어이다 .
print(3 + 3);
print(3 * 3);
print(3 + 3); print(3 * 3);

6
9
6
9

In [11]:
a = 10 ; a=9 ; print(a);
'''
# 파이썬 기본 자료형
# 리터널 : 숫자(자연수) : 정수 -> 10, 5
#                 실수 -> 10.1 , 20.1
#          문자(자연어) : 한국어, 영어, 등등 : 가 , apple,
'''
a = 10; # a 는 변수 : 값을 저장하기 위한 문자 등호에서 왼쪽에 있는 문자.
print(a);
print(10 + a);

9
10
20

In [12]:
print(a)
a = 20 
print(a)
# 순차적 프로그래밍 언어 
# 변수는 오로지 하나의 값만 저장

10
20

In [14]:
print(j); # -> 에러발생 
# 초기값 가져야 한다

NameError: name 'j' is not defined

In [ ]:
i = 10 # i라는 변수는 정수 리터널 값을 저장 
i = 10.1 # i 라는 변수는 실수 리터널 값을 저장

In [20]:
# 자연수 리터널ㅇㅣ 사용하는 연산자 : +, - , * , / , % , // , ** 
i = 10; 
j = 20;
print( i + j);
print( i - j);
print( i * j);
print( i / j);

#나머지 
print(10 % 3);

#몫
print(10 // 3);

#제곱
print(10 ** 3);

# 
윤병준 = 10
print(윤병준);
윤병준 = j ; # j 라는 값을 윤병준에 변수에 대입

30
-10
200
0.5
1
3
1000
10

In [26]:
# 자연어 리터널 : 문자열 : "윤병준", '윤병준' -> "" , ''
i = "j";
print(i);
str1 = "10"; # 문자 리터널 

print(10 + str1);   # 에러 발생 -> TypeError: unsupported operand type(s) for +: 'int' and 'str'

j

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
print(type(str1));    #객체 지향 언어라 class

<class 'str'>

In [28]:
i=10 ;
print(i);
i=10.1;
print(i);
i="윤병준";
print(i);

10
10.1
윤병준

In [30]:
#변수명은 문자이어야 한다.
#1윤 = 10; SyntaxError: invalid syntax
윤1 = 100;  # 이건 사용가능
print(윤1);

100

In [38]:
# 문자리터널 연산자 : + , *   -> 숫자리터널 연산자와 의미가 다르다 
print(10 + 10 ) # -> 20 덧셈연산
head = "python ";
tail = "is fun";
print(head + tail); #  + :  연결 연산자
# print(head + 3 );  # 에러 발생 : TypeError: can only concatenate str (not "int") to str
print(head + str(3));

head = "python";
tail = "is fun";
print(head + " " +  tail);  #공백문자      
                            #이항연산자 : 항은 문자이어야 한다.

print(head * 3) # 반복연산자  
                # 이항연산자 : 1항은 문자 2항은 숫자 

print("===" * 30);
print("파이썬 가주아 !!!!");
print("===" * 30);

20
python is fun
python 3
python is fun
pythonpythonpython
==========================================================================================
파이썬 가주아 !!!!
==========================================================================================

In [51]:
str1 = "우아아아아아아아, 가주아 아아아아아앙아";
print(str1);

str1 = "우아아아아아아아,\n 가주아 아아아아아앙아";    #이스케이프 \n \t \\
print(str1);

str1 = "우아아아아아아아,\t 가주아 아아아아아앙아";  
print(str1);

str1 = "우아아아아아아아,\\ 가주아 아아아아아앙아";  
print(str1);


str1 = '우아아아아아아아,\\ 가주아 아아아아아앙아';  
print(str1);

str1 = '우아아아\'아아아아,\\ 가주아 아아아아아앙아';  
print(str1);

str1 = "우아아아'아아아아, 가주아 아아아아아앙아";  
print(str1);

str1 = "우아아아아아아아, \"가주아\" 아아아아아앙아";  
print(str1);

str1 = '우아아아아아아아, "가주아" 아아아아아앙아';  
print(str1);


str1 = '''우아아아아아아아, 
    "가주아" 아아아아아앙아''';  
print(str1);

str1 = """우아아아아'아아아, 
    가주아 아아아아아앙아""";  
print(str1);

#문자열 표기법 : " ", ' ' , """ """ , ''' '''

우아아아아아아아, 가주아 아아아아아앙아
우아아아아아아아,
 가주아 아아아아아앙아
우아아아아아아아,	 가주아 아아아아아앙아
우아아아아아아아,\ 가주아 아아아아아앙아
우아아아아아아아,\ 가주아 아아아아아앙아
우아아아'아아아아,\ 가주아 아아아아아앙아
우아아아'아아아아, 가주아 아아아아아앙아
우아아아아아아아, "가주아" 아아아아아앙아
우아아아아아아아, "가주아" 아아아아아앙아
우아아아아아아아,
    "가주아" 아아아아아앙아
우아아아아'아아아,
    가주아 아아아아아앙아

In [53]:
str1 = "우아아아아아아아, 가주아 아아아아아앙아";
print(str1);

# 문자열의 갯수 
print(len(str1));
str1 = "윤병준";
print(len(str1));

우아아아아아아아, 가주아 아아아아아앙아
21
3

In [57]:
# 문자열 indexing : index 란 문자가 가지고 있는 위치를 나타내는 고유의 번호
# 문자의 시작은 0번 부터 시작.
str1 = "우아아아아아아아, 가주아 아아아아아앙아";
#       0 1 2 3 
# 마지막 index 는 크기보다 1작다.(0부터 시작하기 때문)
print(str1);
print(str1[8]);
print(str1[9-1]);
print(str1[len(str1)-1]);

우아아아아아아아, 가주아 아아아아아앙아
,
,
아

In [58]:
str1 = "우아아아아아아아"
print("우아아아아아아아"[len(str1)-1]);

아

In [60]:
str1 = "우아아아아아아아"
#       0 1 2 3 4 5 6 7
# 
# -     8 7 6 5 4 3 2 1

print(str1[-4]);
print(str1[-len(str1)]);

아
우

In [61]:
str1 = "우아아아아아아아"
#       01234
print(str1[0] + str1[1] +  str1[2] + str1[3]);

우아아아

In [69]:
#sliceing : 문자열 자르기 
str1 = "우아아아아아아아"

print(str1[0:4]);  # start : 0 , end : 4
print(str1[3:7]);
print(str1[3:3+5]);
wordCount = int(input("숫자를입력하세요."))
print(wordCount);
print(str1[3:3+wordCount]);

우아아아
아아아아
아아아아아

숫자를입력하세요. 3

3
아아아

In [75]:
str1 = "우아아아아아아아"

print(str1[0:0+4]);
print(str1[:4]);
print(str1[3:len(str1)]);
print(str1[3:]);
print(str1[:]);
print(str1[:-4]);

우아아아
우아아아
아아아아아
아아아아아
우아아아아아아아
우아아아

In [80]:
# 날짜(년, 월, 일)와 이름을 분리하여 출력
a = "20010331Rainy"
print(a[:4]+"년");
print(a[4:4+2]+"월");
print(a[6:6+2]+"일");
print("이름은 " +a[8:8+5] +"입니다");

2001년
03월
31일
이름은 Rainy입니다

In [89]:
str1 = "우1234567"

# 하나 건너서 출력
print(str1[0:4:2]);
print(str1[::2]);
print(str1[::-1]);   # 거꾸로 출력

#2번부터 13까지 하나 건너서 출력
print(str1[2:14:2]);

#13번부터 2번까지 reverse   !!!!!!!!!!!!!
print(str1[13:1:-1]);
print(str1[13::-1]);

#2번부터 13번까지 두글자씩 건너서 출력
print(str1[2:14:3]);

우2
우246
7654321우
246
765432
7654321우
25

In [87]:
str1="pithon";  # 문자열의 경우 하나의 문자만 변경할수 없다.
print(str1[0] + "y" + str1[2:]);

python

In [95]:
#문자열 포매팅 : %d : 숫자,  %s : 문자열  , %f : 실수, %c : 문자
#문자열 포매팅 : %d : 숫자(10진정수 : decimal),  %s : 문자열(string)  , %f : 실수(float), %c : 문자()
'나의 이름은 윤병준이고 나이는 20살입니다.'

age=int(input("숫자를 입력해 주세요!."))
print('나의 이름은 윤병준이고 나이는 '+ str(age) + '살입니다.');
print('나의 이름은 윤병준이고 나이는 %d살입니다.' % age);
name = input("이름을 입력하세요");
print('나의 이름은 %s이고 나이는 %d살입니다.' % (name, age));
str2 = '나의 이름은 %s이고 나이는 %d살입니다.' % (name, age)
print(str2);

숫자를 입력해 주세요!. 20

나의 이름은 윤병준이고 나이는 20살입니다.
나의 이름은 윤병준이고 나이는 20살입니다.

이름을 입력하세요 윤병준

나의 이름은 윤병준이고 나이는 20살입니다.
나의 이름은 윤병준이고 나이는 20살입니다.

In [96]:
'윤병준의 계좌번호는 1111이고 잔액은 100입니다.'
name = '윤주원'
account = '2222'
money = 1000
str2 = '%s의 계좌번호는 %s이고 잔액은 %d입니다.' %(name, account, money);   #윤주원의 나이는 20살이고 키는 186.700000입니다
print(str2);

윤주원의 계좌번호는 2222이고 잔액은 1000입니다.

In [106]:
name = '윤주원';
age = 20;
height = 186.78;

result = '%s의 나이는 %d살이고 키는 %f입니다' %(name, age, height);   #윤주원의 나이는 20살이고 키는 186.780000입니다
print(result);

result = '%s의 나이는 %d살이고 키는 %6.2f입니다' %(name, age, height); # 윤주원의 나이는 20살이고 키는 186.78입니다
print(result);
# 99.999999 : 소수점-> 정밀도

result = '%s의 나이는 %d살이고 키는 %5.1f입니다' %(name, age, height); # 윤주원의 나이는 20살이고 키는 186.8입니다
print(result);

result = '%s의 나이는 %d살이고 키는 %10.1f입니다' %(name, age, height); # 윤주원의 나이는 20살이고 키는      186.8입니다
print(result);

result = '%s의 나이는 %d살이고 키는 %1.1f입니다' %(name, age, height); # 윤주원의 나이는 20살이고 키는 186.8입니다
print(result);

result = '%s의 나이는 %d살이고 키는 %.1f입니다' %(name, age, height); # 윤주원의 나이는 20살이고 키는 186.8입니다
print(result);

result = '%s의 나이는 %s살이고 키는 %s입니다' %(name, age, height); #윤주원의 나이는 20살이고 키는 186.78입니다
print(result);

윤주원의 나이는 20살이고 키는 186.780000입니다
윤주원의 나이는 20살이고 키는 186.78입니다
윤주원의 나이는 20살이고 키는 186.8입니다
윤주원의 나이는 20살이고 키는      186.8입니다
윤주원의 나이는 20살이고 키는 186.8입니다
윤주원의 나이는 20살이고 키는 186.8입니다
윤주원의 나이는 20살이고 키는 186.78입니다

In [113]:
# 정렬 : -는 왼쪽정렬, +는 오른쪽 정렬

result = '%10s의 나이는 %10d살이고 키는 %10.2f입니다' %(name, age, height);   #윤주원의 나이는 20살이고 키는 186.780000입니다
print(result);

result = '%-10s의 나이는 %-10d살이고 키는 %-10.2f입니다' %(name, age, height);   #윤주원의 나이는 20살이고 키는 186.780000입니다
print(result);

result = '%-10s의 나이는 %-10d살이고 키는 %-10.2f입니다' %("윤주원", age, height);   #윤주원의 나이는 20살이고 키는 186.780000입니다
print(result);

       윤주원의 나이는         20살이고 키는     186.78입니다
윤주원       의 나이는 20        살이고 키는 186.78    입니다
윤주원       의 나이는 20        살이고 키는 186.78    입니다

In [117]:
#format 함수를 사용한 포매팅
#변수 : a, i , j, str1
#함수 : print(), int(), str(), format()
result = '%s의 나이는 %d살이고 키는 %f입니다' %(name, age, height);   #윤주원의 나이는 20살이고 키는 186.780000입니다
print(result);

print( '{1}의 나이는 {0}살이고 키는 {2}입니다'.format(age, name, height));
#                                                   0   1      2

print( '{1}의 나이는 {0}살이고 키는 {2}입니다'.format(age, "윤병준", height));

print( '{1}의 나이는 {0}살이고 키는 {2}입니다'.format(age, name, 183.26));

print( '{}의 나이는 {}살이고 키는 {}입니다'.format(name,age, 183.26));

윤주원의 나이는 20살이고 키는 186.780000입니다
윤주원의 나이는 20살이고 키는 186.78입니다
윤병준의 나이는 20살이고 키는 186.78입니다
윤주원의 나이는 20살이고 키는 183.26입니다
윤주원의 나이는 20살이고 키는 183.26입니다

In [121]:
#format 함수에 이름으로 넣기

print( '{1}의 나이는 {0}살이고 키는 {f}입니다'.format(age, name, f=183.26));

print( '{n}의 나이는 {0}살이고 키는 {f}입니다'.format(age, n=name, f=183.26));

# print( '{n}의 나이는 {0}살이고 키는 {f}입니다'.format(age, n=name, 183.26));   # SyntaxError: positional argument follows keyword argument
#                                                       0      n
# 이름은 뒤에서부터 순차적으로 부여!!!!!

SyntaxError: positional argument follows keyword argument (2173245307.py, line 7)

In [132]:
#format 함수를 이용한 정렬   :  왼쪽 : <  , 오른쪽 정렬 : > , 가운데 정렬 : ^
print('%10s의 나이는 %10d살이고 키는 %10.2f입니다' %(name, age, height));
print( '{1:10}의 나이는 {0:10}살이고 키는 {2:10}입니다'.format(age, name, 183.26));
#문자는 왼쪽 숫자는 오른쪽

print( '{1:>10}의 나이는 {0:<10}살이고 키는 {2:<10}입니다'.format(age, name, 183.26));
print( '{1:^10}의 나이는 {0:^10}살이고 키는 {2:^10}입니다'.format(age, name, 183.26));
print( '{1:-^10}의 나이는 {0:!^10}살이고 키는 {2:*^10}입니다'.format(age, name, 183.26));


#print( '{윤병준}의 나이는 {0:!^10}살이고 키는 {1:*^10}입니다'.format(age, 183.26));  에러 발생

print( '{{윤병준}}의 나이는 {0:!^10}살이고 키는 {1:*^10}입니다'.format(age, 183.26));

#  print( '\{윤병준\}의 나이는 {0:!^10}살이고 키는 {1:*^10}입니다'.format(age, 183.26)); 에러 발생

print( '{{2}}의 나이는 {0:!^10}살이고 키는 {1:*^10}입니다'.format(age, 183.26, name));

       윤주원의 나이는         20살이고 키는     186.78입니다
윤주원       의 나이는         20살이고 키는     183.26입니다
       윤주원의 나이는 20        살이고 키는 183.26    입니다
   윤주원    의 나이는     20    살이고 키는   183.26  입니다
---윤주원----의 나이는 !!!!20!!!!살이고 키는 **183.26**입니다
{윤병준}의 나이는 !!!!20!!!!살이고 키는 **183.26**입니다
{2}의 나이는 !!!!20!!!!살이고 키는 **183.26**입니다

In [140]:
#f 문자열 포매팅
name = "윤병준";
age = 20;
height = 186.6;
'윤병준은 나이가 20살이고 키는 186.6입니다.'
print('%s은 나이가 %d살이고 키는 %f입니다.' %(name, age, height));  #포맷문자열 포매팅     
print('{0}은 나이가 {1}살이고 키는 {2:.3f}입니다.' .format(name, age, height)); # 포맷함수 포매팅
print(f'{name}은 나이가 {age}살이고 키는 {height}입니다.');
print(f'{name}은 나이가 {age}살이고 키는 {height}입니다.');

result =  f'{name}은 나이가 {age}살이고 키는 {height:.3f}입니다.';
print(result);

윤병준은 나이가 20살이고 키는 186.600000입니다.
윤병준은 나이가 20살이고 키는 186.600입니다.
윤병준은 나이가 20살이고 키는 186.6입니다.
윤병준은 나이가 20살이고 키는 186.6입니다.
윤병준은 나이가 20살이고 키는 186.600입니다.

In [142]:
#문자열 가공 : 문자열 함수 
str1 = "Life is too short"   # indexing , slicing
print(len(str1));
print(len("Life is too short"));

# 특정문자의 개수 
print(str1.count('s'));   # 특정 문지의 갯수
print("Life is too short".count('s'));

17
17
2
2

In [148]:
print(str1);
# "too" 라는 글자 출력
idx = str1.index("too");
str2 = "too";
print(idx);
print(str1[idx:idx+3]);
print(str1[idx:idx+len(str2)]);
print(str1[str1.index("too"):str1.index("too")+len(str2)]);

idx = str1.index("t");
print(idx);  # 첫번쨰 인덱스

Life is too short
8
too
too
too
8

In [153]:
# str1 에서 첫번쨰 i가 있는 문자부터 10글자
idx = str1.index("i");
result = str1[idx: idx+10];
print(result);

# i 에서 다음 글자부터 
idx = str1.index("i",2);
print(idx);

idx = str1.index("i",str1.index("i") + 1);
print(idx);

ife is too
5
5

In [165]:
str1 = "Life is too short, You need Python";
print(str1);
#3번째 t index 가져오기  

idx = str1.index("t");
idx1 = str1.index("t", idx+1);
idx2 = str1.index("t", idx1+1);

print(idx);
print(idx1);
print(idx2);
print(str1.index('t', str1.index("t", str1.index("t") + 1) + 1));

Life is too short, You need Python
8
16
30
30

In [168]:
#마지막에 있는 "t"
idx = str1.rindex('t');
print(idx);


# 마지막에 있는 't' 에서 3글자 

print(str1[idx:idx+3]);

30
tho

In [176]:
#find : index 처럼 문자열의 index 를 가져온다 
print(str1);

idx = str1.find("i");
print(idx);

idx = str1.rfind("i");
print(idx);

# print(str1.index('zoo')); # substring not found 없는 문자열 찾으면 에러
 
print(str1.find('zoo'));   # 없는 문자열 찾으면 -1

if str1.find('zoo') == -1:
    print("없는 문자열 입니다")
else:
    print(str1)

Life is too short, You need Python
1
5
-1
없는 문자열 입니다

In [180]:
print(str1);
# 문자열 모두 대문자 
print(str1.upper());
# 문자열 모두 소문자 
print(str1.lower());

Life is too short, You need Python
LIFE IS TOO SHORT, YOU NEED PYTHON
life is too short, you need python

In [189]:
str1 = "        ingking        ";
print(str1);
print(str1.strip());       # 양쪽공백문자 제거 

print(str1.lstrip());       # 공백문자 제거 
print(str1.rstrip());       # 공백문자 제거 

str1 = "abingkingab";
print(str1.strip("ab"));
print(str1.lstrip("ab"));      
print(str1.rstrip("ab"));       

str1 = "        ing      king        ";
print(str1.strip());   # 가운데 공백 문자는 제거 안됨

        ingking
ingking
ingking
        ingking
ingking
ingkingab
abingking
ing      king

In [193]:
### 문자열 대체하기 
str1 = "pithon";
str2 = str1.replace("i", "y");   # 원데이터 변경 X
print(str1);
print(str2);

str1 = "Life is too short"
str2 = str1.replace("Life", "Your leg");

print(str2);

pithon
python
Your leg is too short

In [196]:
# 쪼개기 : split : 결과는 리스트가 된다 

print(str1);
l = str1.split()
print(l);

str2 = "Life:is:too:short"
l = str2.split(":");
print(l);      # ['Life', 'is', 'too', 'short'] : 리스트  // 파이썬 -> 배열 X

Life is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']