In [1]:
str1 = "Life is too short"
str2 = str1.split()
print(str2)   # ['Life', 'is', 'too', 'short'] : 리스트

['Life', 'is', 'too', 'short']

In [3]:
i=10; #정수 리터널 변수
f= 10.5 #실수 리터널 변수
s = "윤병준" # 문자열형 리터널 변수
l = [1,2,3,4] #리스트 변수

print(i);
print(l);

10
[1, 2, 3, 4]

In [ ]:
#리스트자료형 형식
l = [] # 빈 리스트
l = [1,2,3,4,5] #정수 리스트
l = [10.5,2.5,3.8] #실수 리스트
l = ['a', 'b', 'c', '이승무'] #문자열 리스트
l = [10, "이승무", 10.5] #혼합형 리스트
l = [10, "이승무", 10.5, [1,2,3]] #리스트를 포함한 혼합형 리스트
l = [[1,2,3,4],[5,6,7]] #리스트를 포함 리스트

In [14]:
str1 = "Life is too short"
#       0123456789 : index
#
#                  7654321

print(str1[3]);

l = str1.split();
print(l); # ['Life', 'is', 'too', 'short']
#              0       1     2       3     : 요소가 가지고 있는 고유의 번호 : index
#              4      3      2       1
print(l[1]); # is
print(l[-3]); #is

l = ['Life', 'is', 'too', 'short', 10]

str3 = l[1]
print(str3);   # is : 문자열
i = l[4];
print(i);  # 4 : 정수


str3 = l[3]
print(str3)    # short : 문자열

print(str3[3])    # r
print(l[3][3]);  # r            넘파이? 때 많이 사용!!!

print(str1.split()[3][3])

e
['Life', 'is', 'too', 'short']
is
is
is
10
short
r
r
r

In [24]:
l = [1, 2, 'Life', 'is', [3,4,5], 'too', [1] , 0.5, 'short', "10"]  
#    0  1     2      3      4       5     6     7     8        9    
print(l[0]); # 정수
print(l[1])  # 정수
# 정수 + 정수   ex) 10 +  20

print(l[0] + l[1])   
print(l[2])   # 문자열
print(l[3])   # 문자열
# 문자열 + 문자열 : 연결 연산자 

print(l[2] + l[3])   # Lifeis 
print(l[4]) # 리스트

#문자열 * 정수 : 반복연산자 
print(l[2] * l[1])   # LifeLife
print(l[9])   # "10" 문자열
# print(l[9] + 10)    # TypeError: can only concatenate str (not "int") to str

print(int(l[9]) + 10)   # 20
print(l[9] + str(10))   # 1010

#   l[2]  에 있는 f 를 출력

print(l[2][2]);   # l[2]  -> life   -> l2[2][2]   -> f

1
2
3
Life
is
Lifeis
[3, 4, 5]
LifeLife
10
20
1010
f

In [30]:
a = [1, 2, 3, ["a", "b", "c"]]
#    0  1  2         3
#               0    1    2
#    4   3  2        1          -
#               3    2    1     -
print(a[3])
print(a[3][1])
print(a[-1])
print(a[-1][-2])
print(a[3][-2])
print(a[-1][1])

['a', 'b', 'c']
b
['a', 'b', 'c']
b
b
b

In [36]:
a = [1, 2, 3, ["a", "b", ["life", "is"]]]
#    0  1  2                3
#               0    1          2
#                           0      1
print(a[3])   # ['a', 'b', ['life', 'is']]
print(a[3][2])  # ['life', 'is']
print(a[3][2][0])   # life
#                     0123
print(a[3][2][0][2])

print(a[3][2][0][1])
# 리스트를 이용한 indexing

['a', 'b', ['life', 'is']]
['life', 'is']
life
f
i

In [52]:
str1 = "Life is too short"
print(str1[0:4])    # slicing
l = [1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']
#    0  1    2      3        4      
print(l[0:4])   # [1, 2, 'Life', 'is']

print(l[0:+4])
print(l[0:+2])
print(l[0:1])   # 1    : 리스트 slicing  의 결과 -> 리스트
print(l[0])     # 1    : 리스트 indexing 의 결과 -> 요소의 자료형
print(l[0:0])      # [] :  빈 리스트

print(l[4])    # [3, 4, 5]   요소 리스트 
print(l[4][0:+2]);    # [3, 4] 
###############################################

print(l[2])    # Life
print(l[2: 2 + 1])   #   ['Life']
print(l[2: 2 + 0])   #   []
print(l[3:3])        #   []

Life
[1, 2, 'Life', 'is']
[1, 2, 'Life', 'is']
[1, 2]
[1]
1
[]
[3, 4, 5]
[3, 4]
Life
['Life']
[]
[]

In [69]:
# 리스트 연산자  : + : 연결 연산자  * : 반복연산자
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print(l1+l2)    #  [1, 2, 3, 4, 5, 6, 7, 8]
print(l1 * 3)   # [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
print(l)    # [1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']

# print(l[4] + l[1])   # TypeError: can only concatenate list (not "int") to list
print(l[4] + l[6]);   # [3, 4, 5, 1]


print(l[4] * l[1])   # 리스트 * 정수 반복연산자  [3, 4, 5, 3, 4, 5]
# print(l[2:3] + l[3])   #  can only concatenate list (not "str") to list    리스트 + 문자열  ("is")
print(l[2:3] + list(l[3]))     # ['Life', 'i', 's']         list(l[3])  : ["i", "s"] 
print(l[2] + l[3])   # 문자열 + 문자열
print("hello");
print(list("hello"));    # ['h', 'e', 'l', 'l', 'o']
# print(l[0] + l[4])   # 정수 + 리스트       unsupported operand type(s) for +: 'int' and 'list'
# list() 리스트로 변환하는 변환 함수 : 정수를 리스트로 변환 할 수 없음
# 정수를 리스트로 캐스팅 할 수 없기때문에 슬라이싱 이용해서 정수를 리스트로 만들기 !!!


print(l[0:1] + l[4])
print(l[4] * l[1])   # 리스트 * 정수 -> 반복연산자

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']
[3, 4, 5, 1]
[3, 4, 5, 3, 4, 5]
['Life', 'i', 's']
Lifeis
hello
['h', 'e', 'l', 'l', 'o']
[1, 3, 4, 5]
[3, 4, 5, 3, 4, 5]

In [95]:
str1 = "Life is too short";
result = ['Life', 'is', 'too', 'short']

print(str1[::2])  # Lf stosot
print(result[::2])  # ['Life', 'too']

print(str1[::-1])
print(result[::-1])

print(str1[:])
print(result[:])

print(str1[0:3])
print(str1[:3])

print(result[0:3])
print(result[:3])

print(str1[1:17])
print(str1[1:])

print(str1[1:len(str1)])
print(result[2:4])
print(result[2:])
print(result[2:len(result)])

Lf stosot
['Life', 'too']
trohs oot si efiL
['short', 'too', 'is', 'Life']
Life is too short
['Life', 'is', 'too', 'short']
Lif
Lif
['Life', 'is', 'too']
['Life', 'is', 'too']
ife is too short
ife is too short
ife is too short
['too', 'short']
['too', 'short']
['too', 'short']
Life is too short

In [102]:
str1 = "Life is too short";
result = ['Lyfe', 'is', 'too', 'short']
# Life 를 "Your Leg"
str2 = str1.replace("Life", "Your Leg")     # 리스트에서는 replace 사용X

print(str1)

result[0] = "Life"   # 요소 변경 
print(result)
print(len(str1))

print(len(result))

Life is too short
['Life', 'is', 'too', 'short']
17
4

In [116]:
# 리스트 함수 
# 리스트에 요소 추가 
# append()

l1 = ['life', 'is']
# l1 에 'too' 추가
print(l1 + ['too'])

l2 = l1 + ['too']
print(l2)

l1.append("too")
print(l1)


print(l1.append("short"))    # None
print(l1)
l1 = ['life', 'short']
#       0       1
# apend 마지막 요소에 추가됨

print(l1)

# 중간에 삽입 : insert
# is 를 life 와 short 사이에 삽입
l1.insert(1,"is")
print(l1)    # ['life', 'is', 'short']
l1.insert(2, "too")
print(l1)    # ['life', 'is', 'too', 'short']

# 확장 : extend 

l1.append([1,2,3])
print(l1)   # ['life', 'is', 'too', 'short', [1, 2, 3]]
a = [1,2,3,4]
b = [5,6,7]
# [1,2,3,4,5,6,7]

a.extend(b)
print(a)  # [1, 2, 3, 4, 5, 6, 7]

# 추가 : append   , insert   ,  extend

['life', 'is', 'too']
['life', 'is', 'too']
['life', 'is', 'too']
None
['life', 'is', 'too', 'short']
['life', 'short']
['life', 'is', 'short']
['life', 'is', 'too', 'short']
['life', 'is', 'too', 'short', [1, 2, 3]]
[1, 2, 3, 4, 5, 6, 7]

In [130]:
#요소 삭제

l2 = ['Life', 'is', 'too', 'short']
#       0       1     2       3
# index 를 이용해서 요소 삭제 : del

del l2[1]
print(l2)    # ['Life', 'too', 'short']
#                 0       1        2
del l2[2]
print(l2)   # ['Life', 'too']

#요소를 이용해서 삭제 : remove

l2 = ['Life', 'is', 'too', 'short']
l2.remove("is")

print(l2)   # ['Life', 'too', 'short']

l2.remove("too")
print(l2)   # ['Life', 'short']

# 전체 삭제 : clear

l2.clear()
print(l2)

####  삭제한 값을 받아오기 : pop    마지막 요소를 지우고 지운값 반환
l2 = ['Life', 'is', 'too', 'short']
result = l2.remove('is')   # None
print(result)

print(l2)   # ['Life', 'too', 'short']
#                 0     1        2

result = l2.pop()
print(result);
print(l2)
l2 = ['Life', 'is', 'too', 'short']
#       0       1     2       3

result = l2.pop(1)
print(result)   # is

result = l2.pop(0)
print(result)

['Life', 'too', 'short']
['Life', 'too']
['Life', 'too', 'short']
['Life', 'short']
[]
None
['Life', 'too', 'short']
short
['Life', 'too']
is
Life

In [161]:
import random
l2 = ['Life', 'is', 'too', 'short']
#       0       1     2       3
idx = random.randint(0,len(l2)-1)
print(idx)

result = l2.pop(idx)
print(result)

1
is

In [174]:
# 정렬 -- 오름차순, 내림차순
l = [4,2,5,1,3]
# 오름차순
l.sort();
print(l)
# 내림차순
l = [4,2,5,1,3]
l.sort(reverse=True)
print(l)
l = ['b', 'a', 'c']
l.sort()
print(l)
l = ['b', 'a', 'c']
l.sort(reverse=True)
print(l)
l=['나', '다', '가']
l.sort()
print(l)
l=['나', '다', '가']
l.sort(reverse=True)
print(l)

l = ['나', '다', '가','b', 'a', 'c' ]
l.sort()
print(l)
l = ['나', '다', '가','b', 'a', 'c' ]
l.sort(reverse=True)
print(l)

'''
l = [4,2,5,1,3,'나', '다', '가','b', 'a', 'c']   # 문자열, 숫자 안됨
l.sort()
print(l)    '<' not supported between instances of 'str' and 'int'
'''

print()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['가', '나', '다']
['다', '나', '가']
['a', 'b', 'c', '가', '나', '다']
['다', '나', '가', 'c', 'b', 'a']

In [181]:
str1 = "Life is too short";
idx = str1.find("too")   # too 의 첫번쨰 글자인 t 의 index 를 찾는다.
print(idx)

idx = str1.index("too")
print(idx)

l1 = ['Life', 'is', 'too', 'short']
idx = l1.index('too') # 요소의 위치
print(idx)

'''
idx = l1.find('too') # find는 리스트에서 사용할 수 없다.
print(idx)
'''
print()

### indexing , slicing 

### 리스트 추가 함수 : append , insert, extend

### 리스트 삭제 함수 : del, remove , pop, clear

### 리스트 정렬 : sort(),   sort(reverse=True) 

### 리스트의 검색 함수 : index    !!!!!!!! find 안됨

8
8
2

In [197]:
#리터널 : 자연수 -> 정수 리터널 (10), 실수 리터널 (10.5)  자연어 리터널 : " ", ' '  ,  """ """ ,  ''' '''
#리스트 : []
#튜플 : ()
l = [1,2,3,4]
print(l)

t = (1,2,3,4)
print(t)         # 튜플
l = [] # 빈리스트
t = () #빈튜플

print(t)

test = [(),(),()]
print(test);
test2 = ([],[],[])
print(test2)


print((3 + 5) * 4) # () : 최우선연산자
print((2));   # () : 최우선 연산자
print((2,));  # 튜플

print((1,2))  # 튜플 

print(1,2,3,4,5,6)   # 집합 : set    1 2 3 4 5 6
print((1,2,3,4,5,6))   # (1, 2, 3, 4, 5, 6)
print((3 + 2,))   # 튜플    (5,)
t = (3+2,)
print(t)

[1, 2, 3, 4]
(1, 2, 3, 4)
()
[(), (), ()]
([], [], [])
32
2
(2,)
(1, 2)
1 2 3 4 5 6
(1, 2, 3, 4, 5, 6)
(5,)
(5,)

In [217]:

t = () # 빈 튜플
t = (1,2,3,4,5) #정수 튜플
t = (10.5,2.5,3.8) #실수 튜플
t = ('a', 'b', 'c', '이승무') #문자열 튜플
t = (10, "이승무", 10.5) #혼합형 튜플
t = (10, "이승무", 10.5, [1,2,3]) #리스트를 포함한 튜플
t = (10, "이승무", 10.5, (1,2,3)) #튜플을 포함한 튜플

t = ([1,2,3,4],[5,6,7]) #리스트를 포함 튜플
t = ([1,2,3,4],(5,6,7)) #튜플과 리스트를 포함한 튜플
t = 1,2,3,4,5,6    # 튜플   소괄호 없이 초기화된 변수는 튜플이다.
t1 = "test", "test1", "test23"

print(t)
print(t1)



s = set((1,2,3,4,5,6))    #집합
print(s)

# 튜플은 리스트와 같다 
print(l1)
l1 = ['Life', 'is', 'too', 'short']
#       0       1     2        3

print(l1[2])
t1 = ('Life', 'is', 'too', 'short')
print(t1[2])
print(t1[2:2+2])

l1[0] = 'Your leg'
print(l1)

'''
t1[0] = 'Your leg'      #'tuple' object does not support item assignment
print(t1)
'''
# 튜플은 값이 안변한다
print()

# 리스트는 요소의 값을 변경할 수 있지만, 튜플은 요소의 값을 변결할 수 없다.
# 추가 , 삭제 도 안된다.   튜플은 파이썬의 상수
# index만 가능함 

result = t1.index('too')
print(result)
print(len(t1))

# 튜플 은 indexing, slicing, index(), len() , count() 가능 !!

(1, 2, 3, 4, 5, 6)
('test', 'test1', 'test23')
{1, 2, 3, 4, 5, 6}
['Your leg', 'is', 'too', 'short']
too
too
('too', 'short')
['Your leg', 'is', 'too', 'short']

2
4

In [220]:
str2 = "hellow"
l2 = [1,2,3,3,4,5,3]
t2 = (1,2,3,3,4,5,3)
print(str2.count("l"))
print(l2.count(3))
print(t2.count(3))

2
3
3

In [232]:
l1 = ['Life', 'is', 'too', 'short']
t1 = ('Life', 'is', 'too', 'short')

t1 = 'Life', 'is', 'too', 'short'

print(t1)
print(l1[0]) # 문자열
print(l1[0] + l1[1])  # 문자열 + 문자열
print(t1[0])
print(t1[0] + t1[1]) # 문자열
print(l1[0:1])   # 리스트
print(t1[0:1])   # ('Life',) 튜플
# print(l1[0:1] + l[2])   리스트 + 문자
print(l1[0:1] + l1[2:2+1])  #리스트 + 리스트
# print(t1[0:1] + t1[2])   튜플 + 문자
print(t1[0:1] + t1[2:2+1])  # 튜플 + 튜플
print(t1[0:2] * 2)

('Life', 'is', 'too', 'short')
Life
Lifeis
Life
Lifeis
['Life']
('Life',)
['Life', 'too']
('Life', 'too')
('Life', 'is', 'Life', 'is')

In [249]:
#형변환 : int, str, list , tuple
str3 = "hello"
l3 = list(str3)
print(l3)

t3 = tuple(str3)
print(t3)

l3 = list(t3)
print(l3)

t3 = tuple(l3)
print(t3)

str4 = str(l3)
print(str4 + "윤병준")   # "['h', 'e', 'l', 'l', 'o']"

str4 = "".join(l3)
print(str4)

str4 = "".join(t3)
print(str4)

l1 = ['Life', 'is', 'too', 'short']
str4 = " ".join(l1)

print(str4)

str4 = ":".join(l1)

print(str4)

#  str() 문자열 변환함수는 리스트나 튜플에서는 자체가 모두 문자열로 변환이 된다.
#  리스트나 튜플 안에 있는 요소들을 붙여서 문장으로 출력하려면 .join() 사용하자.

str3 = "hello"
str4 = ":".join(str3)
print(str4)   # h:e:l:l:o

print("윤병준 " + str(10))
print(10 + int("10"))

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']윤병준
hello
hello
Life is too short
Life:is:too:short
h:e:l:l:o
윤병준 10
20

In [262]:
'''
    리터널(상수) : 자연수 : 정수리터널, 실수 리터널
                   자연어 : 문자열 리터널 : "", '', """ """, ''' ''' 
    리스트 : []
    튜플 : (,)
    딕셔너리(사전) : {"단어" : "내용", .....}
                     {"키"   : "값", .....}   
                     
                     : json, map 
                     
'''

l = []  #빈리스트
t = ()  #빈튜플
dic = {} #빈 딕셔너리     
dic = {1: '윤병준', 2: '윤주원', 3:'윤병호' }
# 딕셔너리에서는 index를 사용하지 않는다.
l4 = [1,2,3,4]
#     0 1 2 3

print(l4[2])
print(dic[2])
dic = {"name" : "윤병준", "age" : 30, "height": 175.5}
print(dic["name"])
# 딕셔너리에서는 값을 가져올 때는 키를 사용한다

#f문자를 사용해서 출력하세요
name = "이승무"
age = 30
height = 175.5
# 윤병준의 나이는 30살이고 키는 175.5입니다
print(f"{name}의 나이는 {age}살이고 키는{height}입니다")
l4 = ["윤병준",30, 175.5]
#print("{1}의 나이는 {2}살이고 키는 {3}입니다", format)
print(f"{l4[0]}의 나이는 {l4[1]}살이고 키는{l4[2]}입니다")

d = {"name" : "윤병준", "age" : 30, "height": 175.5}

print(f"{d["name"]}의 나이는 {d["age"]}살이고 키는{d["height"]}입니다")

3
윤주원
윤병준
이승무의 나이는 30살이고 키는175.5입니다
윤병준의 나이는 30살이고 키는175.5입니다
윤병준의 나이는 30살이고 키는175.5입니다

In [273]:
l = [1,2,3,4]
#    0 1 2 3
print(l)
l[1] = 10
print(l)

print(dic)

dic = {'name': '윤병준', 2: 30, 'height': 175.5}
print(dic[2])
dic[2] = 50
print(dic[2])

# l[4] = 20    IndexError: list assignment index out of range

dic["addr"] = "성남"
print(dic)
# 딕셔너리는 키가 있으면 수정이 되고 키가 없으면 추가가 된다.
# 딕셔너리는 키로 구별하므로 키의 중복을 허용하지 않는다.

dic = {1:"이", 1:"숭"}   
print(dic[1])
dic = {1:"이"}
dic[1] = "숭"
print(dic[1]) # 키가 중복된 경우 마지막 값을 갖는다.

[1, 2, 3, 4]
[1, 10, 3, 4]
{1: '숭'}
30
50
{'name': '윤병준', 2: 50, 'height': 175.5, 'addr': '성남'}
숭
숭

In [289]:
# 딕셔너리 함수 

dic1 = {'name': '윤병준', 'age': 30, 'height': 175.5}

print(dic1['name'][1])   # dic1['name'] 의 결과가 문자열 이므로 결과에 대한 index 가능
print(dic1['name'])   # 키를 이용하여 값을 가져옴

print(dic1.get('name')) # get() 를 이용하여 값을 가져옴

# print(dic1['addr'])   # KeyError: 'addr'  에러발생

print(dic1.get("addr"))    # None  반환  오류 발생을 막기 위해서 
print(dic1.get("addr", '서울'))    # 키가 있으면 value 없으면 기본값 설정 가능
print(dic1.get("name", "홍길동"))
print(dic1.get("age", 0))


dic1 = {'classic' : 500, 'pop' : 700, 'jazz' : 900}
dic2 = {'classic' : 500, 'pop' : 700}
#  print(dic1['jazz'] + dic2['jazz'])     에러 발생
print(dic1.get('jazz', 0) + dic2.get('jazz', 0))    # 900 + 0
print(dic1.get('classic', 0) + dic2.get('classic', 0))  
print(dic1.get('pop', 0) + dic2.get('pop', 0))

병
윤병준
윤병준
None
서울
윤병준
30
900
1000
1400

In [296]:
#요소 삭제 
d = {'name': '윤병준', 'age': 30, 'height': 175.5}
l = [1,2,3,4]

# 리스트에서 index 를 이용해서 2를 삭제 하시요 
# del, remove, 
del l[1]
print(l)

del d['age']
print(d)

del l[:]
print(l)
l.clear()

d.clear()

print(d)

d = {'name': '윤병준', 'age': 30, 'height': 175.5}
l = [1,2,3,4]

result = d.pop('name')
print(result)
print(d)

# 딕셔너리 삭제 : clear, pop(key), del

[1, 3, 4]
{'name': '윤병준', 'height': 175.5}
[]
{}
윤병준
{'age': 30, 'height': 175.5}

In [303]:
# 딕셔너리에 있는 키를 가져오기
d = {'name': '윤병준', 'age': 30, 'height': 175.5}

print(d.keys())

#딕셔너리에 있는 값 가져오기 
print(d.values())

#키와 값을 튜플로 가져오기 
print(d.items())

dict_keys(['name', 'age', 'height'])
dict_values(['윤병준', 30, 175.5])
dict_items([('name', '윤병준'), ('age', 30), ('height', 175.5)])

In [310]:
#정수 , 실수 , 문자열 리터널
#리스트
#튜플
#딕셔너리 : {} 빈 딕셔너리, {"키" : "값",....}
#집합     : {1,2,3,4,5} : 집합은 {}  안됨 {1} 집합은 적어도 값을 하나 이상 가져야 한다.
s = {1,2,3,4,5}
print(s)

s = set([1,2,3,4,5])
print(s)

s = set((1,2,3,4,5))
print(s)

s = {1,2,2,3,4,5,5}    # 집합은 중복값을 허용하지 않는다.
print(s)

str1 = "hello"

s = set(str1)   #집합은 순서를 가지지 않는다.
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{'o', 'h', 'l', 'e'}

In [318]:
# 합집합, 교집합, 차집합

s1 = {1,2,3,4}
s2 = {3,4,5,6}

#합집합
print(s1.union(s2))
print(s1 | s2)

#교집합
print(s1.intersection(s2))
print(s1 & s2)

#차집합
print(s1.difference(s2))
print(s1 - s2)

print(s2.difference(s1))
print(s2 - s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [338]:
#
l = [1,2,3,4,5]
# 리스트요소 추가하기 
l.append(6)
print(l)

s1 = {1,2,3,4}
s1.add(6)
print(s1)

s1.add('a')    
print(s1)
s1.add((6,7,8,9))
print(s1)

# 한번에 여러개의 요소 추가  :  리스트 , 튜플을 인자로 사용
s1.update((6,7,8,9))
print(s1)

s1.update([10,11,12,13])
print(s1)

# 하나 삭제 
s1.remove(10)
print(s1)
s1.pop()    # 임의의 요소 삭제됨   
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)
s1.clear()
print(s1)

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6, 'a'}
{1, 2, 3, 4, 6, (6, 7, 8, 9), 'a'}
{1, 2, 3, 4, 6, (6, 7, 8, 9), 7, 8, 9, 'a'}
{1, 2, 3, 4, 6, (6, 7, 8, 9), 7, 8, 9, 10, 11, 12, 13, 'a'}
{1, 2, 3, 4, 6, (6, 7, 8, 9), 7, 8, 9, 11, 12, 13, 'a'}
{2, 3, 4, 6, (6, 7, 8, 9), 7, 8, 9, 11, 12, 13, 'a'}
{3, 4, 6, (6, 7, 8, 9), 7, 8, 9, 11, 12, 13, 'a'}
{4, 6, (6, 7, 8, 9), 7, 8, 9, 11, 12, 13, 'a'}
set()

In [339]:
# 리스트, 튜플, 딕셔너리, 집합
# 부울 자료형 : 
# b = True
# b = False
b = True    # 부울타입은 첫글자가 대문자!!!
b = False

true = 10 # 정수형 변수
print(b)

b = "true" # 문자열

False

In [355]:
# 부울 타입을 사용하는 때 
# 논리연산


print( True and True)
print( True or False)

b1 = True
b2 = True
b3 = False

print(b1 and b2)
print(b1 or b3 )

# 부울타입의 결과를 가져오는 연잔사는 비교(관계)연산자
# < , >, <=, >=, != , ==

a = 10
b = 20
c = 30
d = 15


print(a > b)   # 부울타입의 결과 False
print(c <= d)

print(a > b and c <= d )
#논리연산을 하는 경우에는 비교연산자와 같이 사용 (부울 타입의 결과를 가져오기 위해서)

print(10 + 1)

# 합격하기 위해서는 모든 과목이 40점 이상이고 평균이 60 이상이어야 한다.
mat = 40
eng = 80

# 논리연산 True 나 False를 이용한 연산 : and, or 
# 부울타입 결과를 얻기 위해서는 비교연산자를 사용!!!
result = mat >= 40 and eng >= 40 and (mat + eng)  / 2 >= 60
print(result)


# 4년마다 한번씩 윤년이지만 100년마다는 윤년이 아니라고 한다. 그렇지만 400년마다는 
#윤년이다. 그렇다면 2200년은 윤년인가? 평년인가?
year = 2400

result = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
print(result)


if result : 
    print("윤년")
else:
    print("평년")

True
True
True
True
False
False
False
11
True
True
윤년

In [371]:
# int(), str(), float(), list(), tuple(), set(), 
# bool()  : 모든 데이터를 부울 타입으로 형변환
print(bool("윤병준"));   # 모든 문자열은 True 로 변환
print(bool("")) #blank : False
print(bool(100))   # True
print(bool(-100))   # True    0이 아닌 모든 숫자는 True 이다 
print(bool(0))      # False
print(bool([1,2,3])) # True  
print(bool([]))      # False
print(bool((1,2,3,))) # True
print(())   # 빈트풀
print(bool(()))    # False
print(bool({1:"윤"}))  # True
print(bool(({})))   #False
print(bool(None))   #False

if "윤병준":
    print("참")
else:
    print("거짓")

True
False
True
True
False
True
False
True
()
False
True
False
False
참

In [379]:
# 변수가 가지고 있는 자료형을 확인
i = 10
f = 109.5
str1 = "apple"
l = [1,2,3,4]
t = (1,2,3,4)
s = {1,2,3,4}
d = {1:"윤"}

print(type(i))    # <class 'int'>
print(type(f))    # <class 'float'>
print(type(str1)) # <class 'str'>
print(type(l))    # <class 'list'>
print(type(t))    # <class 'tuple'>
print(type(s))    # <class 'set'>
print(type(d))    # <class 'dict'>

'''
if type(i).
    print("asddadsasdadsa")
else:
    print("aqwr")
'''
print()

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [389]:
# 변수를 만드는 여러가지 방법
i = 10
j = 20

i, j, k = 10, 20, 30
print(i,j,k)

i, j, k = (10, 20, 30)
print(i,j,k)

(i, j, k) = (10, 20, 30)
print(i,j,k)


(i, j, k) = 10, 20, 30
print(i,j,k)

i, j, k = [10, 20, 30]
print(i,j,k)

[i, j, k] = [10, 20, 30]
print(i,j,k)

[i, j, k] = (10, 20, 30)
print(i,j,k)

(i, j, k) = [10, 20, 30]
print(i,j,k)

a, b, c = 10, 2.0, "윤병준"
print(a,b,c)

10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 2.0 윤병준

In [391]:
#값 서로 교환하기
a = 10;
b = 20;
temp = a;

'''
a = b
b = temp
print(a,b)
'''

a = 10;
b = 20;

a, b = b, a
print(a, b)

20 10

In [395]:
l1 = [10, 20, 30]
l2 = l1
print(l1)
print(l2)

l2[1] = 200
print(l2)
print(l1)


l2 = l1[:]
print(l2)
l2[1] = 20
print(l2)
print(l1)

[10, 20, 30]
[10, 20, 30]
[10, 200, 30]
[10, 200, 30]
[10, 200, 30]
[10, 20, 30]
[10, 200, 30]